<button class="btn" routerLink="/form">Back</button>
<div class="container">
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Address</td>
        <td>Gender</td>
        <td>Class</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.firstName }} {{ item.lastName }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.gender }}</td>
        <td>{{ item.class }}</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <td>Date of birth</td>
        <td>Contact</td>
        <td>Parent Email</td>
        <td>Description</td>
        <td>Password</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.dob }}</td>
        <td>{{ item.contact }}</td>
        <td>{{ item.parentEmail }}</td>
        <td>{{ item.desc }}</td>
        <td>{{ item.password }}</td>
      </tr>
    </tbody>
  </table>
</div>
